$colorfondo_rosa: #fef4fd;
$colorfondo_azul: #110038;
$color_azul: #110038;
$color_rosa: #f7c9f3;
$color_morado:#EE3EFE;
$color_gris: #e6e6e6;
$degradado_linear: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
$degradado_linear2: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$fuente_regular: "Chakra Petch", sans-serif;
$transicion_todo: ease .3s all;



* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: $colorfondo_rosa;
  transition: $transicion_todo;
  &.dark{
    background-color:$colorfondo_azul;
  }
}
.logo{
  width: 90px;
  height: 48px;
  background-image: url("../assets/gifOF_logo.png");
  transition: $transicion_todo;
  body.dark &{
    background-image: url("../assets/gifOF_logo_dark.png");
  }
}
.centrado {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.contenedor {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.contenedor2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.top_35 {
  margin-top: 35px;
}
.margin_left_16 {
  margin-right: 16px;
}
.espaciar_elementos {
  justify-content: space-between;
}
.espaciar_elementos2 {
  justify-content: space-between;
  justify-content: initial;
}
.atras{
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gifCreador{
  width: 500px;
  margin-left: auto;
    margin-right: auto;
    background: #E6E6E6;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

}
.centrar{
  margin-left: auto;
  margin-right: auto;
}
.capturar{
  background: #F7C9F3;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
width: 144px;
height: 36px;
font-family: $fuente_regular;
display: flex;
align-items: center;
  justify-content: center;
}
.capturar2{
  background: rgb(168, 45, 45);
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
width: 144px;
height: 36px;
font-family: $fuente_regular;
color: white;
display: flex;
align-items: center;
  justify-content: center;
}
.capturar3{
  background: rgb(181, 184, 183);
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
width: 144px;
height: 36px;
font-family: $fuente_regular;
color: white;
display: flex;
align-items: center;
  justify-content: center;
}
img#gifCaptura {
  width: 490px;
  margin-left: 5px;
}
video{
  width: 490px;
  margin-left: 5px;
  margin-top: 2px;
}
.camara{
  background: #F7C9F3;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
height: 36px;
width: 36px;
display: flex;
align-items: center;
  justify-content: center;
}
.camara2{
  background:rgb(168, 45, 45);;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
height: 36px;
width: 36px;
display: flex;
align-items: center;
  justify-content: center;
}
.camara3{
  background:rgb(173, 173, 173);;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
height: 36px;
width: 36px;
display: flex;
align-items: center;
  justify-content: center;
}
.wrap{
  display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  padding-bottom: 10px;
}
.tieneWrap {
  
  justify-content: center;
}
#resultados { 
  display:none;
  height: 120px; 
  width: 100%;
  background: #E6E6E6;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
padding-top: 5px;
}
.tendencia{
  background: #F0F0F0;
border: 1px solid #808080;
box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
width: 80%;
font-family: $fuente_regular;
color: #110038 ;
padding: 5px;
margin: 5px;
margin-left: 10px;
&:hover{
  background: rgb(199, 199, 199);
  outline: 1px dotted #110038;
  outline-offset: -5px;
  box-shadow: inset -1px -1px 0 0 rgb(117, 117, 117), inset 1px 1px 0 0 #FFFFFF;
}
}
.button {
  font-family: $fuente_regular;
  background: $color_rosa;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: $transicion_todo;
  &:hover {
    outline: 1px dotted #110038;
    outline-offset: -5px;
  }
  body.dark &{
    background: $color_morado;
    color: white;

  }
}
.dropdown select {
  background: $color_rosa;
  font-family: $fuente_regular;

  padding: 5px;
  padding-right: 72px;
  padding-left: 25px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0 !important;
  height: 53px;
  background: url(../assets/dropdown_2.svg) no-repeat right $color_rosa;
  -webkit-appearance: none;
  background-position-x: x-end;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  text-align: center;
  text-align-last: center;

 
}
.textos_links {
  font-family: $fuente_regular;
  align-self: center;
  margin-left: 10px;
  transition: $transicion_todo;
  & a {
    transition: $transicion_todo;
    font-family: $fuente_regular;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    body.dark &{
      color: white;
    }
  }
}
.imgtrend{
  outline: 2px solid gray;
  outline-offset: -2px;
}
.sup_header {
  background-image: $degradado_linear;
  box-shadow: 0 1px 0 0 #110038;
  font-family: $fuente_regular;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  height: 23px;
  transition: $transicion_todo;
  body.dark &{
    background-image: $degradado_linear2;
  }

  marquee {
    margin-top: 4px;
  }
}
#gifsContainer{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

#gifsTendencias{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
#gifsSugerencias{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.cerrar{
  padding-right: 8px;
  
}
.contentTrending{
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  height: 24px;
  color: white;
  font-family: $fuente_regular;
  padding-left: 5px;
  padding-top: 5px;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  display: flex;
  justify-content: space-between;
}


.buscador_gif{
  margin-top: 60px;
  background: #E6E6E6;
box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
height: 80px;
.container_search{
display: flex;
justify-content: space-between;

input{
  margin-left: 10px;
  margin-top: 10px;
  width: 80%;
  height: 30px;
  padding-left: 10px;
}
button{
  font-family: $fuente_regular;
  font-size: 16px;
  color: #B4B4B4;
  background: #E6E6E6;
border: 1px solid #808080;
box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
height: 36px;
width: 15%;
margin-right: 10px;
margin-top: 5px;
&:hover{
  color: #110038;
  background: #F7C9F3;
border: 1px solid #110038;
box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
&:focus{
  outline: none;
}

}

}
  .tituloBuscador{
    
    font-family: $fuente_regular;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    height: 24px;
    color: white;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
    
  }
}
h3{
  background: #FFFAFE;
border: 1px solid #E6BBE2;
box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
font-family: $fuente_regular;
font-size: 14px;
font-weight: 100;
color: #110038;
letter-spacing: 0;
padding: 5px;
}
.espaciado{
  margin-top: 35px;
}
.espaciado2{
  margin-top: 15px;
}
.verMas{
  background: #4180F6;
border: 1px solid #4C2F99;
box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
color: white;
padding: 15px;
    position: relative;
    top: -64px;
    left: 20px;
    font-family: $fuente_regular;
    font-size: 14px;
    display: block;
    &:hover{
      outline: 1px dotted white;
  outline-offset: -3px;
    }
    
}
a.masLink {
  text-decoration: none;
}
a.masLink:hover {
  text-decoration: none;
}
.cuadroGif{
  width: 250px;
  height: 250px;
  margin-top: 10px;
  img{
    width: 250px;
    height: 100%;
  }

}
.cuadroGif2{
  width: 250px;
  height: 250px;
  margin-top: 10px;
 

}
.imgtrend{


    width: 250px;
  height: 100%;


}
.gifsContainer{
  margin-top: 30px;
}
// INICIA EL MENU DEL DROPDOWN SELECT//
.custom-select {
  position: relative;
  font-family: $fuente_regular;
  width: 180px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #f7c9f3;
  background-image: url("../assets/dropdown_2.svg");
  background-position: right top;
  background-repeat: no-repeat;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  text-align: left;
  text-align-last: left;
  transition: $transicion_todo;
  body.dark &{
    background-color:$color_morado;
    color: white;
    background-image: url("../assets/dropdown_3.svg");
  }
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 24px;
  right: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
  
  body.dark &{
  
    border-color: white transparent transparent transparent;
  }
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 16px;
  body.dark &{
    top: 24px;
    border-color: white transparent transparent transparent;
  }
}

/* style the items (options), including the selected item: */
.select-items div{
  color: #000000;
  padding: 15px 16px;
  border: 1px solid 000000;
  cursor: pointer;
  text-align: left;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
.select-selected {
  color: #000000;
  padding: 15px 16px;
  border: 1px solid 000000;
  cursor: pointer;
  text-align: left;
  
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #E6E6E6;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  
}
.backmenu{
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;

}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  outline: 1px solid #CCA6C9;
      outline-offset: -5px ;
      background-image: url("../assets/btn_white.jpg");
      background-repeat: no-repeat;
      background-position:5px 5px;
      body.dark &{
        outline: 1px solid white;
        background-image: url("../assets/btn_blue.jpg");
        color: white;
      }
}
// ACABA EL MENU DEL DROPDOWN SELECT//

@media (max-width: 575.98px) { 

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  .cuadroGif{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-top: 40px;
    img{
      width: 250px;
    height: 100%;
  
    }
   
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

}