* {
  margin: 0px;
  padding: 0px;
  border: 0px; }

body {
  background-color: #fef4fd;
  transition: ease 0.3s all; }
  body.dark {
    background-color: #110038; }

.logo {
  width: 90px;
  height: 48px;
  background-image: url("../assets/gifOF_logo.png");
  transition: ease 0.3s all; }
  body.dark .logo {
    background-image: url("../assets/gifOF_logo_dark.png"); }

.centrado {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.contenedor {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.contenedor2 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.top_35 {
  margin-top: 35px; }

.margin_left_16 {
  margin-right: 16px; }

.espaciar_elementos {
  justify-content: space-between; }

.tieneWrap {
  flex-wrap: wrap;
  justify-content: center; }

.button {
  font-family: "Chakra Petch", sans-serif;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: ease 0.3s all; }
  .button:hover {
    outline: 1px dotted #110038;
    outline-offset: -5px; }
  body.dark .button {
    background: #EE3EFE;
    color: white; }

.dropdown select {
  background: #f7c9f3;
  font-family: "Chakra Petch", sans-serif;
  padding: 5px;
  padding-right: 72px;
  padding-left: 25px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0 !important;
  height: 53px;
  background: url(../assets/dropdown_2.svg) no-repeat right #f7c9f3;
  -webkit-appearance: none;
  background-position-x: x-end;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  text-align: center;
  text-align-last: center; }

.textos_links {
  font-family: "Chakra Petch", sans-serif;
  align-self: center;
  margin-left: 10px;
  transition: ease 0.3s all; }
  .textos_links a {
    transition: ease 0.3s all;
    font-family: "Chakra Petch", sans-serif;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; }
    body.dark .textos_links a {
      color: white; }

.imgtrend {
  outline: 2px solid gray;
  outline-offset: -2px; }

.sup_header {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  box-shadow: 0 1px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  height: 23px;
  transition: ease 0.3s all; }
  body.dark .sup_header {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%); }
  .sup_header marquee {
    margin-top: 4px; }

#gifsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#gifsTendencias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

#gifsSugerencias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.tituloTrending {
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  height: 24px;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  padding-left: 5px;
  padding-top: 5px;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.borde {
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.buscador_gif {
  margin-top: 60px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  height: 80px; }
  .buscador_gif .container_search {
    display: flex;
    justify-content: space-between; }
    .buscador_gif .container_search input {
      margin-left: 10px;
      margin-top: 10px;
      width: 80%;
      height: 30px;
      padding-left: 10px; }
    .buscador_gif .container_search button {
      font-family: "Chakra Petch", sans-serif;
      font-size: 16px;
      color: #B4B4B4;
      background: #E6E6E6;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
      height: 36px;
      width: 15%;
      margin-right: 10px;
      margin-top: 5px; }
      .buscador_gif .container_search button:hover {
        color: #110038;
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
      .buscador_gif .container_search button:focus {
        outline: none; }
  .buscador_gif .tituloBuscador {
    font-family: "Chakra Petch", sans-serif;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    height: 24px;
    color: white;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px; }

h3 {
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #110038;
  letter-spacing: 0;
  padding: 5px; }

.espaciado {
  margin-top: 35px; }

.espaciado2 {
  margin-top: 15px; }

.cuadroGif {
  width: 250px;
  height: 250px;
  margin-top: 10px; }
  .cuadroGif img {
    width: 250px;
    height: 100%; }

.gifsContainer {
  margin-top: 30px; }

.custom-select {
  position: relative;
  font-family: "Chakra Petch", sans-serif;
  width: 180px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

.select-selected {
  background-color: #f7c9f3;
  background-image: url("../assets/dropdown_2.svg");
  background-position: right top;
  background-repeat: no-repeat;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  text-align: left;
  text-align-last: left;
  transition: ease 0.3s all; }
  body.dark .select-selected {
    background-color: #EE3EFE;
    color: white;
    background-image: url("../assets/dropdown_3.svg"); }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 24px;
  right: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent; }
  body.dark .select-selected:after {
    border-color: white transparent transparent transparent; }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 16px; }
  body.dark .select-selected.select-arrow-active:after {
    top: 24px;
    border-color: white transparent transparent transparent; }

/* style the items (options), including the selected item: */
.select-items div {
  color: #000000;
  padding: 15px 16px;
  border: 1px solid 000000;
  cursor: pointer;
  text-align: left;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

.select-selected {
  color: #000000;
  padding: 15px 16px;
  border: 1px solid 000000;
  cursor: pointer;
  text-align: left; }

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #E6E6E6;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

.backmenu {
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  outline: 1px solid #CCA6C9;
  outline-offset: -5px;
  background-image: url("../assets/btn_white.jpg");
  background-repeat: no-repeat;
  background-position: 5px 5px; }
  body.dark .select-items div:hover, body.dark .same-as-selected {
    outline: 1px solid white;
    background-image: url("../assets/btn_blue.jpg");
    color: white; }

@media (max-width: 767.98px) {
  .cuadroGif {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-top: 40px; }
    .cuadroGif img {
      width: 250px;
      height: 100%; } }

/*# sourceMappingURL=styles.css.map */
